.navigation {
  display: none;
  box-sizing: border-box;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation_item {
  margin: 0 auto;
  padding: 0;

  position: relative;
  z-index: 5;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 24px;
  color: white;
  width: 280px;
  height: 64px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 13px;

  align-items: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.navigation_item:active {
  color: #f4bf87;
  border-bottom: 1px solid #f4bf87;
  height: 42px;
  justify-content: flex-end;
}

.navigation_item.added {
  margin-left: 26px;
  width: fit-content;
  justify-content: center;
}

.burger {
  width: 24px;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 6;
}

.burger span {
  display: block;
  height: 4px;
  background: white;
  border-radius: 2px;
}

.header.active .burger span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.header.active .burger span:nth-child(2) {
  display: flex;
  position: relative;
  z-index: 2;
  opacity: 0;
}

.header.active .burger span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  display: flex;
  position: relative;
  z-index: 2;
}

.header.active .navigation {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 4;

  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-image: url(../assets/images/images-phone/bcg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100vw;
  height: 100vh;
  padding: 84px 0 170px;
  margin: 0;
  box-sizing: border-box;
}

.header.active .navigation_item.added {
  display: none;
}
.header.active .navigation::after {
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  content: "";
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
}

@media (min-width: 768px) {
  .navigation li {
    width: 94px;
    height: 68px;
  }
  .burger {
    display: none;
  }
  .navigation ul {
    display: flex;
  }
  .navigation_item {
    list-style: none;
    cursor: pointer;
    font-weight: 600;
  }

  .navigation {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-size: 13px;
  }
}

@media (min-width: 1400px) {
  .navigation li {
    width: 114px;
    height: 100px;
  }

  .navigation_item {
    font-size: 14px;
  }

  .navigation {
    position: relative;
    z-index: 2;
  }

  .navigation__svg {
    width: 24px;
    height: 24px;
  }
}
